{% extends "layouts/base.html" %}
{% block content %}

<h1>Book List</h1>
<h3>Book 1</h3>
<h4>Title</h4>
<a href="/book/12344321">Continous Delivery</a>
<h4>Authors</h4>
<p> by j.Humble and D.Farley</p>
<h4>Description</h4>
<p>This book shows how to deliver you software more reloable and using automated processes.</p>
</br>
<h3>Book 2</h3>
<h4>Title</h4>
<a href="/book/56788765">Reversing: Secrut of Reverse Engineering</a>
<p>by E.Elim</p>
<h4>Description</h4>
<p>This book provides in-depth techinuques and methods for reverse engineering</p>
{% endblock content %}
