{% extends "layouts/base.html" %}
{% block title %} book list {% endblock%}

{% block content %}

 <h1>Book List</h1>
  <table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Edition</th>
    </tr>
    {% for b in books %}
        <tr>
            <td><a href="{% url 'readBook' bId=b.id %}">{{b.title}}</a></td>
            <td>{{b.author}}</td>
            <td>{{b.price}}</td>
            <td>{{b.edition}}</td>
        </tr>
    {% endfor %}
  </table>
{% endblock content %}
