<!DOCTYPE html>
<html>
<head>
    <title>Task 5: Book Statistics</title>
</head>
<body>
    <h1>Book Statistics</h1>
    <table border="1">
        <tr>
            <th>Total Number of Books</th>
            <td>{{ stats.total_books }}</td>
        </tr>
        <tr>
            <th>Total Price</th>
            <td>{{ stats.total_price }}</td>
        </tr>
        <tr>
            <th>Average Price</th>
            <td>{{ stats.average_price }}</td>
        </tr>
        <tr>
            <th>Maximum Price</th>
            <td>{{ stats.max_price }}</td>
        </tr>
        <tr>
            <th>Minimum Price</th>
            <td>{{ stats.min_price }}</td>
        </tr>
    </table>
</body>
</html>
